@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('/css/Log-in.css');
@import url('/css/register.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-font: 'Poppins', sans-serif;
    --second-font: 'Nunito', sans-serif;
    --color-white: #fff;
    --main-color: #786E6E;
    --second-color: #3D3737;
    --third-color: #0E0D0D;
    --color-buton: #2776A3;
    --main-back-color: #F5F5F5;
    --second-back-color: #2776A387;
    --border-input-color: #7E7373;

    --color-buton-hover: #5fa6d0;

    font-size: 62.5%;
}

.fade-in-left {
    animation: fade-in-left 2s ease;
}

@keyframes fade-in-left {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}