.container-logIn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
    font-size: 1.6rem;
    gap: 1.5rem
}
.content-buttons-logIn{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.content-border-logIn{
    display: flex;
    width: 70%;
    height: 70%;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.content-login, .content-img-logIn{
    flex: 1 50%;
    white-space: nowrap;
    box-sizing: border-box;
}
.content-img-logIn{
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(top, var(--main-back-color) 50%, var(--second-back-color) 50%);;
    border-radius: 10px;

}
.content-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.main-text-logIn{
    font-family: var(--second-font);
    color: var(--main-color);
    margin-bottom: 0px;

    position: absolute;
    left: 1rem;
    z-index: 2;
    top: 10px;

    transition: ease all 400ms;
}
.content-remember{
    font-family: var(--second-font);
    font-size: 12px;
    color: var(--main-color);
}
.content-email-logIn{
    border: 1px solid var( --border-input-color);
    border-radius: 10px;
    width: 320px;
    height: 40px;
    margin-bottom: 0;
    padding-left: 10px;
    outline: none;
}
.content-password-logIn{
    border: 1px solid var( --border-input-color);
    border-radius: 10px;
    width: 320px;
    height: 40px;
    margin-bottom: 0;
    padding-left: 10px;
    outline: none;
}
.content-check-logIn{
    display: flex;
    flex-direction: row;
    margin-top: 0.5em;
    margin-bottom: 0px;
    align-items: center;

}
.content-checkbox{
    width: 12px; 
    margin-right: 0.5em;
    appearance: checkbox;
    border: 1px solid;
    border-radius: 2px;
}

.style-button-enter-logIn{
    border: 1px solid var(--color-buton);
    border-radius: 6px;
    background: var(--color-buton);
    color: var(--main-back-color);
    height: 40px;
    font-family: var(--second-font);
    font-weight: 700;
    width: 320px;
    cursor: pointer;
    transition: font-size 500ms;
}

.style-button-google-logIn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-input-color);
    border-radius: 6px;
    height: 40px;
    width: 320px;
    font-family: var(--second-font);
    font-weight: 700;
    cursor: pointer;
    transition: font-size 500ms;
}

.style-button-enter-logIn:hover{
    font-size: 18px;
}
.style-button-google-logIn:hover{
    background-color: var(--color-white);
    font-size: 16px;
}
.content-Create-logIn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--second-font);
    margin-top: 1em;
    gap: 5px;
    color: var(--main-color);
    font-weight: 700;
}
.content-new-acount{
    text-decoration: none;
    color: var(--color-buton);
    font-weight: 700;
    font-family: var(--second-font);
}
.content-forgot-password{
    text-decoration: none;
    color: var(--color-buton);
    font-family: var(--second-font);
    margin-left: 15px;
}
.img-style{
    margin-right: 0.5em;
}
.main-title {
    font-size: 3rem;
    font-family: var(--main-font);
    font-weight: 700;
    color: var(--second-back-color);
    margin-bottom: 26px;
}

.content-img-logIn img{
    width: 30rem;
}

.content-input-logIn{
    display: flex;
    flex-direction: column;
    position: relative;
}

.content-input-logIn > input{
    position: relative;
    z-index: 1;
}

.content-input-logIn > input:focus ~ .main-text-logIn,
.content-input-logIn > input:valid ~ .main-text-logIn{
    top: 0;
    font-size: 1rem;
}
.content-img-logIn > img {
    width: 270px;
}

@media screen and (max-width: 452px){
    .content-border-logIn{
        box-shadow: none;
    }
} 

@media screen and (max-width: 768px){
    .content-img-logIn > img{
        display: contents;
    }
    .content-img-logIn{
        display: contents;
    }
}

@media screen and (max-width: 375px){
    .content-border-logIn{
        box-shadow: none;
    }
    .container-logIn{
        display: grid;
    }
    .content-email-logIn{
        width: 290px;
    }
    .content-password-logIn{
        width: 290px;
    }
    .style-button-enter-logIn{
        margin-bottom: revert;
    }
    .style-button-enter-logIn ,.style-button-google-logIn{
        width: 290px;
    }
    .content-buttons-logIn{
        display: flex;
        align-items: center;
    }
    .content-check-logIn{
        display: flex;
        gap: 3px;
    }
    .content-forgot-password{
        font-size: 13px;
    }
    .content-Create-In{
        margin-top: auto;
    }
    .content-check-logIn{
        margin-top: revert;
    }
    .content-Create-In{
        font-size: 15px;
    }
}